auto-save-list/
eln-cache/
elpa/
org-persist/
tutorial/
url/
multisession/
transient/

# Ignore files which extension ends with ~
*~

ido.last
smex-items

init.elc
recentf

.org-id-locations
bookmarks
org-roam.db